{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="p-5 mb-4 bg-light rounded-3 shadow-sm border-start border-5 border-success">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-success">Espace Professeur</h1>
            <p class="col-md-8 fs-4 text-muted">Bienvenue Fatima. Ici, tu peux gérer tes classes, saisir les notes et suivre les absences.</p>
            <hr>
            <div class="d-flex gap-3">
                <a href="/prof/saisie_notes" class="btn btn-success btn-lg">
                    <i class="bi bi-pencil-fill"></i> Saisir les Notes
                </a>
                <a href="/prof/absences" class="btn btn-outline-danger btn-lg">
                    <i class="bi bi-person-x"></i> Faire l'Appel
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}